:root {
	--color-neutral-0: #f4f6f5;
	--color-neutral-100: #e6e9e8;
	--color-neutral-200: #cfd6d4;
	--color-neutral-300: #aeb7b4;
	--color-neutral-400: #8b9692;
	--color-neutral-500: #687470;
	--color-neutral-600: #505a57;
	--color-neutral-700: #3f4745;
	--color-neutral-800: #353a39; /* your base */
	--color-neutral-900: #2a2f2e;
	--color-neutral-1000: #1f2322;

	/* 
    400= base
    500 = hover
    600 = active 
    */

	/* === Peach === */
	--color-peach-100: #fff2e9;
	--color-peach-200: #ffd9bf;
	--color-peach-300: #ffc39f;
	--color-peach-400: #ffb080;
	--color-peach-500: #e69566;
	--color-peach-600: #cc7a4d;
	--color-peach-700: #a65f39;

	/* === Light Blue === */
	--color-blue-light-100: #f2f9ff;
	--color-blue-light-200: #dff0ff;
	--color-blue-light-300: #cfe9ff;
	--color-blue-light-400: #c3e4ff;
	--color-blue-light-500: #a9c9e6;
	--color-blue-light-600: #8faecc;
	--color-blue-light-700: #6f8fa6;

	/* === Green === */
	--color-green-100: #eef7f2;
	--color-green-200: #cfe6d9;
	--color-green-300: #a8d1bb;
	--color-green-400: #559d70;
	--color-green-500: #4a8a62;
	--color-green-600: #3f7553;
	--color-green-700: #2f5740;

	/* === Blue === */
	--color-blue-100: #eef3ff;
	--color-blue-200: #d6e0ff;
	--color-blue-300: #b3c6ff;
	--color-blue-400: #5080ff;
	--color-blue-500: #466fe0;
	--color-blue-600: #3b5fc2;
	--color-blue-700: #2c4794;
}

@font-face {
	font-family: "TAN Meringue";
	src: url("./assets/fonts/TAN-MERINGUE-ExtraLight.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	background-color: #fffaf3;
}

h1,
h2 {
	font-family: "TAN Meringue", Georgia, serif;
}

h3,
h4,
h5,
h6 {
	font-family: "Gotu", sans-serif;
}

p {
	font-family: "Montsterrat", sans-serif;
}

.section {
	position: relative;
	z-index: 1;
}

.body-container {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
